html {
  font-size: 16px;
}

body {
  line-height: 1.5;
  color: #34495e;
  background: #fefefe;
}

.container {
  width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 4rem;
}

a {
  color: #34495e;
  text-decoration: none;
}
